<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="logo"><a href="#">Home Swipe</a></h1>
				<nav>
					<a (click)="getHotelsByCity('4.6097102', '-74.081749')" href="#">Bogotá</a>
					<a (click)="getHotelsByCity('6.2518401', '-75.563591')" href="#">Medellin</a>
					<a (click)="getHotelsByCity('3.4372201', '-76.5224991')" href="#">Cali</a>
					<a (click)="getHotelsByCity('10.9685402', '-74.7813187')" href="#">Barranquilla</a>
					<a (click)="getHotelsByCity('10.3997202', '-75.5144424')" href="#">Cartagena</a>
				</nav>
				<div class="outer-menu">
					<input class="checkbox-toggle" type="checkbox" />
					<div class="hamburger">
					  <div></div>
					</div>
					<div class="menu">
						<div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="center">
											<ul class="menulinks">
											  <li><a (click)="getHotelsByCity('4.6097102', '-74.081749')" href="#">Bogotá</a></li>
												<li><a (click)="getHotelsByCity('6.2518401', '-75.563591')" href="#">Medellin</a></li>
												<li><a (click)="getHotelsByCity('3.4372201', '-76.5224991')" href="#">Cali</a></li>
												<li><a (click)="getHotelsByCity('10.9685402', '-74.7813187')" href="#">Barranquilla</a></li>
												<li><a (click)="getHotelsByCity('10.3997202', '-75.5144424')" href="#">Cartagena</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
